section{
    background-image: url("bg.jpeg");
    background-size: cover;
    height:100vh;
}

#character{
    position:absolute;
    bottom:-45px;
    left:50px;
    height:430px;
    width:300px;
}
#character1{
        position:absolute;
        bottom:0;
        right:50px;
        height:350px;
        width:200px;
}
#net{
    position:absolute;
    bottom:0;
    height:500px;
    margin-top:200px; 
    margin-left:20%;
}
#ball{
    position:absolute;
    height:80px;
    width:80px;
    bottom:50px;
}
    

